<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<div class="postcard-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="postcard-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
