// app/assets/stylesheets/_countries.scss
$singapore-color: rgb(117, 115, 115);
$japan-color: red;
$korea-color: blue;
$black: black;

// _countries.scss
.card {
  width: 100% !important;
  flex-wrap: wrap;
  display: flex;

  .card-img-top {
    filter: brightness(90%);
    height: 200px;
    object-fit: cover;
  }

  .card-body {
    h5.card-title {
      color: rgb(0, 0, 0); // Use a generic primary color or create specific ones per country
    }

    // General style for buttons (if any)
    .btn-primary {
      background-color: rgb(0, 0, 0);
    }

    // Specific styles for each country's button
    .btn-japan {
      background-color: $japan-color;
    }
    .btn-japan:hover{
      background: #ff2424;
      color: white;
    }

    .btn-korea {
      background-color: $korea-color;
    }

    .btn-korea:hover{
      background: #3648ed;
      color: white;
    }

    .btn-singapore {
      background-color: $singapore-color;
    }

    .btn-singapore:hover{
      background:rgb(148, 148, 148);
      color:white;
    }
  }
}
